USE [Parkingowy]
GO
/****** Object:  StoredProcedure [dbo].[dbs_Parkingowy_SelectDoMapy]    Script Date: 2022-05-16 19:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[dbs_Parkingowy_SelectDoMapy]
AS
BEGIN
	SET NOCOUNT ON;

	
	SELECT TOP (1)
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A01') AS VARCHAR(5)) AS [S0A01],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A02') AS VARCHAR(5)) AS [S0A02],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A03') AS VARCHAR(5)) AS [S0A03],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A04') AS VARCHAR(5)) AS [S0A04],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A05') AS VARCHAR(5)) AS [S0A05],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A06') AS VARCHAR(5)) AS [S0A06],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A07') AS VARCHAR(5)) AS [S0A07],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A08') AS VARCHAR(5)) AS [S0A08],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A09') AS VARCHAR(5)) AS [S0A09],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A10') AS VARCHAR(5)) AS [S0A10],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A11') AS VARCHAR(5)) AS [S0A11],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A12') AS VARCHAR(5)) AS [S0A12],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A13') AS VARCHAR(5)) AS [S0A13],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A14') AS VARCHAR(5)) AS [S0A14],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A15') AS VARCHAR(5)) AS [S0A15],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A16') AS VARCHAR(5)) AS [S0A16],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A17') AS VARCHAR(5)) AS [S0A17],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A18') AS VARCHAR(5)) AS [S0A18],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A19') AS VARCHAR(5)) AS [S0A19],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A20') AS VARCHAR(5)) AS [S0A20],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A21') AS VARCHAR(5)) AS [S0A21],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A22') AS VARCHAR(5)) AS [S0A22],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A23') AS VARCHAR(5)) AS [S0A23],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0A24') AS VARCHAR(5)) AS [S0A24],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B01') AS VARCHAR(5)) AS [S0B01],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B02') AS VARCHAR(5)) AS [S0B02],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B03') AS VARCHAR(5)) AS [S0B03],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B04') AS VARCHAR(5)) AS [S0B04],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B05') AS VARCHAR(5)) AS [S0B05],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B06') AS VARCHAR(5)) AS [S0B06],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B07') AS VARCHAR(5)) AS [S0B07],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B08') AS VARCHAR(5)) AS [S0B08],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B09') AS VARCHAR(5)) AS [S0B09],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B10') AS VARCHAR(5)) AS [S0B10],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B11') AS VARCHAR(5)) AS [S0B11],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B12') AS VARCHAR(5)) AS [S0B12],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B13') AS VARCHAR(5)) AS [S0B13],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B14') AS VARCHAR(5)) AS [S0B14],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B15') AS VARCHAR(5)) AS [S0B15],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B16') AS VARCHAR(5)) AS [S0B16],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B17') AS VARCHAR(5)) AS [S0B17],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B18') AS VARCHAR(5)) AS [S0B18],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B19') AS VARCHAR(5)) AS [S0B19],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B20') AS VARCHAR(5)) AS [S0B20],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B21') AS VARCHAR(5)) AS [S0B21],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B22') AS VARCHAR(5)) AS [S0B22],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B23') AS VARCHAR(5)) AS [S0B23],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0B24') AS VARCHAR(5)) AS [S0B24],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0C01') AS VARCHAR(5)) AS [S0C01],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0C02') AS VARCHAR(5)) AS [S0C02],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0C03') AS VARCHAR(5)) AS [S0C03],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0C04') AS VARCHAR(5)) AS [S0C04],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0C05') AS VARCHAR(5)) AS [S0C05],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0C06') AS VARCHAR(5)) AS [S0C06],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0C07') AS VARCHAR(5)) AS [S0C07],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0C08') AS VARCHAR(5)) AS [S0C08],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0C09') AS VARCHAR(5)) AS [S0C09],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0C10') AS VARCHAR(5)) AS [S0C10],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0C11') AS VARCHAR(5)) AS [S0C11],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0C12') AS VARCHAR(5)) AS [S0C12],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0C13') AS VARCHAR(5)) AS [S0C13],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0C14') AS VARCHAR(5)) AS [S0C14],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0C15') AS VARCHAR(5)) AS [S0C15],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0C16') AS VARCHAR(5)) AS [S0C16],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0C17') AS VARCHAR(5)) AS [S0C17],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0C18') AS VARCHAR(5)) AS [S0C18],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0C19') AS VARCHAR(5)) AS [S0C19],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0C20') AS VARCHAR(5)) AS [S0C20],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '0C21') AS VARCHAR(5)) AS [S0C21],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A01') AS VARCHAR(5)) AS [S1A01],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A02') AS VARCHAR(5)) AS [S1A02],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A03') AS VARCHAR(5)) AS [S1A03],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A04') AS VARCHAR(5)) AS [S1A04],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A05') AS VARCHAR(5)) AS [S1A05],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A06') AS VARCHAR(5)) AS [S1A06],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A07') AS VARCHAR(5)) AS [S1A07],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A08') AS VARCHAR(5)) AS [S1A08],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A09') AS VARCHAR(5)) AS [S1A09],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A10') AS VARCHAR(5)) AS [S1A10],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A11') AS VARCHAR(5)) AS [S1A11],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A12') AS VARCHAR(5)) AS [S1A12],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A13') AS VARCHAR(5)) AS [S1A13],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A14') AS VARCHAR(5)) AS [S1A14],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A15') AS VARCHAR(5)) AS [S1A15],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A16') AS VARCHAR(5)) AS [S1A16],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A17') AS VARCHAR(5)) AS [S1A17],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A18') AS VARCHAR(5)) AS [S1A18],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A19') AS VARCHAR(5)) AS [S1A19],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A20') AS VARCHAR(5)) AS [S1A20],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A21') AS VARCHAR(5)) AS [S1A21],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A22') AS VARCHAR(5)) AS [S1A22],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A23') AS VARCHAR(5)) AS [S1A23],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A24') AS VARCHAR(5)) AS [S1A24],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1A25') AS VARCHAR(5)) AS [S1A25],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B01') AS VARCHAR(5)) AS [S1B01],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B02') AS VARCHAR(5)) AS [S1B02],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B03') AS VARCHAR(5)) AS [S1B03],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B04') AS VARCHAR(5)) AS [S1B04],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B05') AS VARCHAR(5)) AS [S1B05],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B06') AS VARCHAR(5)) AS [S1B06],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B07') AS VARCHAR(5)) AS [S1B07],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B08') AS VARCHAR(5)) AS [S1B08],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B09') AS VARCHAR(5)) AS [S1B09],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B10') AS VARCHAR(5)) AS [S1B10],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B11') AS VARCHAR(5)) AS [S1B11],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B12') AS VARCHAR(5)) AS [S1B12],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B13') AS VARCHAR(5)) AS [S1B13],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B14') AS VARCHAR(5)) AS [S1B14],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B15') AS VARCHAR(5)) AS [S1B15],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B16') AS VARCHAR(5)) AS [S1B16],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B17') AS VARCHAR(5)) AS [S1B17],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B18') AS VARCHAR(5)) AS [S1B18],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B19') AS VARCHAR(5)) AS [S1B19],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B20') AS VARCHAR(5)) AS [S1B20],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B21') AS VARCHAR(5)) AS [S1B21],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B22') AS VARCHAR(5)) AS [S1B22],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B23') AS VARCHAR(5)) AS [S1B23],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1B24') AS VARCHAR(5)) AS [S1B24],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1C01') AS VARCHAR(5)) AS [S1C01],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1C02') AS VARCHAR(5)) AS [S1C02],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1C03') AS VARCHAR(5)) AS [S1C03],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1C04') AS VARCHAR(5)) AS [S1C04],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1C05') AS VARCHAR(5)) AS [S1C05],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1C06') AS VARCHAR(5)) AS [S1C06],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1C07') AS VARCHAR(5)) AS [S1C07],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1C08') AS VARCHAR(5)) AS [S1C08],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1C09') AS VARCHAR(5)) AS [S1C09],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1C10') AS VARCHAR(5)) AS [S1C10],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1C11') AS VARCHAR(5)) AS [S1C11],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1C12') AS VARCHAR(5)) AS [S1C12],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1C13') AS VARCHAR(5)) AS [S1C13],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1C14') AS VARCHAR(5)) AS [S1C14],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1C15') AS VARCHAR(5)) AS [S1C15],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1C16') AS VARCHAR(5)) AS [S1C16],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1C17') AS VARCHAR(5)) AS [S1C17],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1C18') AS VARCHAR(5)) AS [S1C18],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1C19') AS VARCHAR(5)) AS [S1C19],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1C20') AS VARCHAR(5)) AS [S1C20],
	CAST((SELECT (CASE WHEN Miejsce_CzyZajete = 1 THEN 'true' ELSE 'false' END) FROM Miejsca_Parkingowe WHERE Miejsce_Id = '1C21') AS VARCHAR(5)) AS [S1C21]
	FROM Miejsca_Parkingowe
END
