<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow users="?" />
      <allow roles="Root"/>
    </authorization>
  </system.web>
  <location path="haslo.aspx">
    <system.web>
      <authorization>
        <allow roles="Root" />
      </authorization>
    </system.web>
  </location>
 
</configuration>